:root {
  --primary: hsl(212, 100%, 48%);
  --lightbg: hsl(0, 0%, 98%);
  --red: hsl(355, 78%, 56%);
  --green: hsl(101, 100%, 35%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: var(--lightbg);
}

h1, h2, h3 {
  font-family: 'Karla', sans-serif;
}

h2 {
  font-weight: normal;
  letter-spacing: -1px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}